#
.fabric/
config/
data/
debug/
#Distant Horizon Files are to large
Distant_Horizons_server_data/
downloads/
logs/
#mods/
#profileImage/
#resourcepacks
saves/
schematics/
screenshots/
#shaderpacks
#xaero gitignore in directory

.curseclient
command_history.txt
hotbar.nbt
minecraftinstance.json
options.txt
realms_persistence.json
servers.dat
servers.dat_old
usercache.json